<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad excepturi voluptatum harum officia id. Alias, placeat officiis excepturi perspiciatis, dignissimos ducimus eos libero ullam cumque, quis atque fugiat iure qui voluptatum harum? Dolorum ad quos dolore quibusdam cupiditate? Doloribus facere adipisci repellat repudiandae quia tempore a esse officiis pariatur placeat?</p>
    </section>
</body>
</html>