<html lang="en">
<head>
   <%-include('./inc/head')%>
</head>
<body>

    <%-include('./inc/nav')%>
   
    
    <section class="blogs">
        <h1>Blog</h1>

        <ul>
            <li>
                <a href="#">Blog 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quia, excepturi quas enim reiciendis minus totam porro voluptas cumque tenetur quisquam cum ab incidunt necessitatibus, officiis laudantium debitis? Quidem, nobis?</p>
            </li>
            <li>
                <a href="#">Blog 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quia, excepturi quas enim reiciendis minus totam porro voluptas cumque tenetur quisquam cum ab incidunt necessitatibus, officiis laudantium debitis? Quidem, nobis?</p>
            </li>
            <li>
                <a href="#">Blog 1</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quia, excepturi quas enim reiciendis minus totam porro voluptas cumque tenetur quisquam cum ab incidunt necessitatibus, officiis laudantium debitis? Quidem, nobis?</p>
            </li>
        </ul>
    </section>
   
</body>
</html>